#bodyID{
    
    width: 65%;
    margin: auto;
}

html{
    scroll-behavior: smooth;
}

.to-top{
    background:  white;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: black;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition:  all .4s;
}

.to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

.topsection-grid{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows:200px 200px;
    background-color: #fff;
    color: #444;
}

.boxa{
    background-color: rgba(83, 192, 232, 0.508);
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.boxb{
    background-color: rgba(255, 68, 0, 0.768);
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.boxc{
    background-color: rgb(255, 183, 0);
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.a{
    grid-column: 1/3;
    grid-row: 1/4;
}

.b{
    grid-column: 3/5;
    grid-row: 1;
}

.c{
    grid-column: 3/5;
    grid-row: 2;
}

.test{
    display: inline;
    padding-left:inherit;
}

.midsection-grid{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows:600px 600px;
    background-color: #fff;
    color: #444;
}

.boxd{
    background-color: grey;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.boxe{
    background-color: rgb(255, 183, 0);
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.d{
    grid-column: 1/3;
    grid-row: 1;
}

.e{
    grid-column: 1/3;
    grid-row: 2;
}

.lowermidsection-grid{
    display: grid;
    grid-template-columns: 267px 267px 267px;
    grid-template-rows:200px 200px;
    background-color: #fff;
    color: #444;
}

.boxf{
    background-color: rgba(83, 192, 232, 0.508);
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.boxg{
    background-color: whitesmoke;
    color: black;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}
.boxh{
    background-color: rgb(202, 193, 193);
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.boxi{
    background-color: whitesmoke;
    color: black;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}
.boxj{
    background-color:rgba(255, 68, 0, 0.768);
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.boxk{
    background-color: whitesmoke;
    color: black;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

#scrollToTopBtn {
    background-color: black;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 16px;
    line-height: 48px;
    width: 48px;
  }