#bodyID{
    margin: 0px;
}

.wrap{
    display: grid;
    grid-template-columns: auto auto;
}

.grid-container {
    display: grid;
  }

.grid-item1 {
    background-color: rgba(83, 192, 232, 0.508);
    padding: 100px;
    font-size: 30px;
    text-align: center;
}

.grid-item2 {
    background-color: rgba(255, 68, 0, 0.768);
    padding: 100px;
    font-size: 30px;
    text-align: center;
}

.grid-item3 {
    background-color: rgb(255, 183, 0);
    padding: 100px;
    font-size: 30px;
    text-align: center;
}

.grid-container2 {
    display:grid;
    grid-template-rows: auto auto;
}

.navigationbar{
    background-color: whitesmoke;
    padding: 35px;
}

.greybox{
    background-color: grey;
    padding: 150px;
}

.orangebox{
    background-color: orange;
    padding: 150px;
}

.grid-element{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.grid-element {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

.test{
    display: inline;
}